body {
  background-color: #1b2a41;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
}
.container {
  width: 1100px;
  height: 650px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 0.5fr 1.5fr 1fr 0.5fr;
}
.title {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 1100px;
  color: white;
}

.valores {
  margin-top: 10px;
  background-color: white;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr .5fr;
}
.total{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.total *{
  font-size: 1.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  grid-template-columns: 150px 3fr;
}
.total div span{
  display: flex;
  
}

.table_values {
  padding: 30px;
  width: 300px;
}

.table_values tr td {
  font-size: 25px;
}

.table_values tr th {
  padding-bottom: 20px;
}

.color_on {
  background-color: azure;
}

.color_off {
  background-color: beige;
}

.pagamentoCss {
  padding-top: 50px;
  padding-left: 50px;
}

.valor_final {
  padding-top: 50px;
}

.data {
  grid-area: data;
}

.values {
  grid-area: values;
}

.formasDePagamento {
  justify-content: space-between;
  display: flex;
}
.formasDePagamento button {
  border-radius: 10px;
  width: 200px;
  height: 100px;
  font-size: 25px;
}
.dinheiro {
  background-color: #096309;
  color: white;
}
.debito {
  background-color: rgb(64, 64, 218);
  color: white;
}
.credito {
  background-color: rgb(255, 174, 0);
  color: white;
}
.pix {
  background-color: rgb(156, 23, 156);
  color: white;
}
.cancelar {
  background-color: rgb(20, 19, 19);
  color: white;
}
.finalizar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.finalizar button {
  padding: 8px 35px;
  color: white;
}
.finalizar button:first-child {
  background-color: #b62222;
}
.finalizar button:last-child {
  background-color: #4222b6;
}
.key h1{
  text-align: center;
}
.key-2{
  height: 350px;
  display: grid;
  grid-template-rows: repeat(4,1.5fr);
}
.key-2 div{
  border-bottom: 1px solid black;
}
.key-2 *{
  font-size: 1.5rem;
  margin: 5px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}